@media print {
	body {-webkit-print-color-adjust: exact;}
}

* {
	font-family: 'Overpass Mono', monospace;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
	width: 100%;
	height: 100%;
	padding: 0;
}

*:focus {
	outline-width: 0
}

body {
	/*min-width: 500px;*/
	background-color: #c6c9ce;
	height: 100%;
	width: 100%;
	min-width: 950px;
	/*border: 1px dotted gold;*/
	/*min-height: 1000px;*/

}

.title-input {}

.root-display {
	z-index: 10;
}

.root-box-p {
	text-align: center;
	position: absolute;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.natural-box {
	color: black;
	background-color: white;
}
.sharp-box {
	color: white;
	background-color: black;
}
.flat-box {
	color: white;
	background-color: black;
}
.natural-boxes {
	display: block;
}
.sharp-boxes {
	display: block;
	margin-left: 25px;
}
.flat-boxes {
	display: block;
	margin-left: 25px;
}

.root-box-Fsharp, .root-box-Gflat {
	margin-left: 50px;
}

.root-boxes-wrapper {
	width: 70%;
	margin: 0 auto;
}

.root-box {
	height: 50px;
	width: 50px;
	border: 1px solid black;
	border-radius: 5%;
	opacity: .7;
	font-size: 1em;
	position: relative;
	display: inline-block;
	transition: opacity .3s, font-size .3s, font-weight .3s;
}

.root-box:hover {
	opacity: 1;
	font-weight: bold;
	font-size: 1.6em;
	transition: opacity .3s, font-size .3s, font-weight .3s;


}

#slide {
    position: absolute;
    left: -1000px;
    /*width: 100%;*/
/*    width: 100px;
    height: 100px;*/
    /*background: blue;*/
    -webkit-animation: slide 0.5s forwards;
    /*-webkit-animation-delay: .5s;*/
    animation: slide 0.5s forwards;
    /*animation-delay: .5s;*/
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.section-toolbar-button {
	display: inline-block;
}
