@media print {
	body {-webkit-print-color-adjust: exact;}
}

* {
	/*font-family: 'Overpass Mono', monospace;*/
	/*font-family: 'Sahitya', serif;*/
	font-family: 'Gloria Hallelujah', cursive;
	/*font-family: 'Lateef', cursive;*/
	/*font-family: 'Reenie Beanie', cursive;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
	width: 100%;
	height: 100%;
	padding: 0;
}

*:focus {
	outline-width: 0
}

body {
	/*min-width: 500px;*/
	background-color: #c6c9ce;
	height: 100%;
	width: 100%;
	min-width: 950px;
	/*border: 1px dotted gold;*/
	/*min-height: 1000px;*/

}

.title-input {}

.root-display {
	z-index: 10;
}

.root-box-p {
	text-align: center;
	position: absolute;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.natural-box {
	color: black;
	background-color: white;
}
.sharp-box {
	color: white;
	background-color: black;
}
.flat-box {
	color: white;
	background-color: black;
}
.natural-boxes {
	display: block;
}
.sharp-boxes {
	display: block;
	margin-left: 25px;
}
.flat-boxes {
	display: block;
	margin-left: 25px;
}

.root-box-Fsharp, .root-box-Gflat {
	margin-left: 50px;
}

.root-boxes-wrapper {
	width: 70%;
	margin: 0 auto;
}

.root-box {
	height: 50px;
	width: 50px;
	border: 1px solid black;
	border-radius: 5%;
	opacity: .7;
	font-size: 1em;
	position: relative;
	display: inline-block;
	transition: opacity .3s, font-size .3s, font-weight .3s;
}

.root-box:hover {
	opacity: 1;
	font-weight: bold;
	font-size: 1.6em;
	transition: opacity .3s, font-size .3s, font-weight .3s;


}

.section-name-input {
	background: transparent;
	border: none;
	font-size: 1.3em;
	margin-top: 10px;
	/*text-align: center;*/
}

.section-name {
	font-size: 1.3em;
}

.move-section-up-button {
	border: none;
	background-color: transparent;
	color: darkblue;
	font-size: 1.2em;
	height: 25px;
	width: 25px;
	margin: 2px;
	text-shadow: 2px 2px darkgray;
	transition: font-size .3s, color .3s;
}
.move-section-down-button {
	border: none;
	background-color: transparent;
	color: white;
	font-size: 1.2em;
	height: 25px;
	width: 25px;
	margin: 2px;
	text-shadow: 2px 2px darkgray;
	transition: font-size .3s, color .3s;
}

.move-section-up-button:hover {
	font-size: 1.5em;
	transition: font-size .3s;
}
.move-section-down-button:hover {
	font-size: 1.5em;
	transition: font-size .3s, color .3s;
}

.move-section-up-button:active {
	color: skyblue;
	transition: color .1s;

}
.move-section-down-button:active {
	color: hotpink;
	transition: color .1s;

}

.remove-measure-button {
      border: none;
      background-color: red;
      color: white;
      border-radius: 10px;
      font-weight: bold;
      margin: 0 auto;
      font-size: 1.1em;
      box-shadow: 10px 8px 10px #888888;
      transition: box-shadow .3s, font-weight .3s, font-size .3s, background-color .3s;
}
.remove-measure-button:hover {
	/*font-size: 1.1em;*/
	font-weight: bold;
    box-shadow: 12px 10px 10px #888888;
    transition: box-shadow .3s, font-weight .3s, font-size .3s, background-color .3s;	
}
.remove-measure-button:active {
	background-color: darkred;
	transition: background-color .3s;
}

.add-measure-button {
      border: none;
      background-color: green;
      color: white;
      font-size: 1em;
      font-weight: normal;
      height: 50px;
      width: 200px;
      margin: 2px;
      border-radius: 10px;
      /*position: relative;*/
      text-align: 'center';	
	  box-shadow: 10px 8px 10px #888888;
	  transition: box-shadow .3s, font-weight .3s, font-size .3s, background-color .3s;
}

.add-measure-button:hover {
	font-size: 1.1em;
	font-weight: bold;
    box-shadow: 12px 10px 10px #888888;
    transition: box-shadow .3s, font-weight .3s, font-size .3s, background-color .3s;	
}
.add-measure-button:active {
	background-color: darkgreen;
	color: limegreen;
	transition: background-color .3s, color .1s;
}

.remove-section-button {
          border: none;
          background-color: red;
          color: white;
          font-size: 1em;
          font-weight: normal;
          height: 50px;
          width: 200px;
          margin: 2px;
          border-radius: 10px;
          position: relative;
          text-align: 'center';	
    	  box-shadow: 10px 8px 10px #888888;
    	  transition: box-shadow .3s, font-weight .3s, font-size .3s, background-color .3s;
}

.remove-section-button:hover {
	font-size: 1.1em;
	font-weight: bold;
    box-shadow: 12px 10px 10px #888888;
    transition: box-shadow .3s, font-weight .3s, font-size .3s, background-color .3s;	
}
.remove-section-button:active {
	background-color: darkred;
	color: hotpink;
	transition: background-color .3s, color .1s;
}
.current-key-box {
	color: hotpink;
	border-radius: 50%;
}

.current-key-p {
	position: absolute;
/*	height: 80%;
	width: 80%;*/
	font-size: 1em;
	font-weight: normal;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	transition: font-size .2s, font-weight .2s;
}

.current-key-p:hover {
	font-size: 1.2em;
	font-weight: bold;
	transition: font-size .2s, font-weight .2s;
}

.set-filter-button-edit{
	position: absolute;
	top: 10px;
	right: 50px;
	border-radius: 50%;
	border: none;
	box-shadow: 5px 5px 5px darkgray;
	background-color: darkblue;
	color: white;
	transition: color .2s, box-shadow .2s;
}

.set-filter-button-show{
	position: absolute;
	top: 10px;
	right: 50px;
	border-radius: 50%;
	border: none;
	box-shadow: 5px 5px 5px darkgray;
	background-color: darkblue;
	color: white;
	transition: color .2s, box-shadow .2s;
}

.set-filter-button-edit:hover{
	color: hotpink;
	box-shadow: 5px 10px 5px darkgray;
	transition: color .2s, box-shadow .2s;
}
.set-filter-button-edit:active{
	color: cyan;
	box-shadow: 5px 5px 5px darkgray;
	transition: color .2s, box-shadow .2s;	
}

.set-filter-button-show:hover{
	color: hotpink;
	box-shadow: 5px 10px 5px darkgray;
	transition: color .2s, box-shadow .2s;
}
.set-filter-button-show:active{
	color: cyan;
	box-shadow: 5px 5px 5px darkgray;
	transition: color .2s, box-shadow .2s;	
}

.add-section-button {
	/*position: absolute;*/
/*	top: 10px;
	right: 50px;*/
	margin-right: 5%;
	border-radius: 10px;
	border: none;
	box-shadow: 5px 5px 5px darkgray;
	background-color: darkblue;
	color: white;
	transition: color .2s, box-shadow .2s;
}
.add-section-button:hover {
	color: hotpink;
	box-shadow: 5px 10px 5px darkgray;
	transition: color .2s, box-shadow .2s;	
}
.add-section-button:active {
	color: cyan;
	box-shadow: 5px 5px 5px darkgray;
	transition: color .2s, box-shadow .2s;		
}

#slide {
    position: absolute;
    left: -1000px;
    /*width: 100%;*/
/*    width: 100px;
    height: 100px;*/
    /*background: blue;*/
    -webkit-animation: slide 0.5s forwards;
    /*-webkit-animation-delay: .5s;*/
    animation: slide 0.5s forwards;
    /*animation-delay: .5s;*/
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.section-toolbar-button {
	display: inline-block;
}

.section-multiplier-edit {
	position: absolute;
	bottom: 10px;
	right: 50px;
	border: 1px solid black;
	border-radius: 10px;
	height: 50px;
	width: 50px;
	text-align: center;
}

.section-multiplier-show {

}

.section-multiplier-p-edit {
	font-size: 1.2em;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
}

.section-multiplier-p-show {

}
